<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dam.financialgame">

    <!-- Internet permission needed to call the API -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:name=".threads.VolleyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.dam.financialgame.controllers.MainActivity" />
        <activity android:name="com.dam.financialgame.controllers.MenuDeInicio" />
        <activity android:name="com.dam.financialgame.controllers.Comunidad" />
        <activity android:name="com.dam.financialgame.controllers.Escenario" />
        <activity android:name="com.dam.financialgame.controllers.IntroducirDatos" />
        <activity android:name="com.dam.financialgame.controllers.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dam.financialgame.controllers.GraficasJugadores" />
        <activity android:name="com.dam.financialgame.controllers.LineGraph" />
        <activity android:name="com.dam.financialgame.controllers.PieGraph"></activity>
    </application>

</manifest>