<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dam.financialgame">

    <!-- Internet permission needed to call the API -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:name=".threads.VolleyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/financialgame_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/financialgame_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controllers.activities.InicializarPartida" />
        <activity android:name=".controllers.activities.MenuDeInicio" />
        <activity
            android:name=".controllers.activities.Comunidad"
            android:label="Comunidad" />
        <activity android:name=".controllers.activities.Escenario" />
        <activity android:name=".controllers.activities.IntroducirDatos" />
        <activity android:name=".controllers.activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controllers.activities.GraficasJugadores" />
        <activity android:name=".controllers.activities.InstruccionesPartida" />
        <activity android:name=".controllers.activities.ManualDeUsuario" />
        <activity android:name=".controllers.activities.PrincipalPartidasOnline" />
        <activity android:name=".controllers.activities.PartidaOnlineInicializada" />
        <activity android:name=".controllers.activities.EscenarioOnline"></activity>
    </application>

</manifest>